body {
background-image: url(https://cutewallpaper.org/es/11/planeta-tierra-fondos-de-pantalla/3014418648.jpg);
background-color: black;
background-repeat:no-repeat;
}

.cont {
    background-image: url(https://www.gstatic.com/earth/social/00_generic_facebook-001.jpg);
    background-color: black;
    height: 500px;
    height: 625px;
    background-repeat:no-repeat;
    background-position:  center center;
}   

.titulo {
    margin: 40px;
    color: rgba(255, 255, 255, 0.856);
}

.btn {
    border: 1px solid rgba(149, 1, 247, 0.664);
    padding: 5px 5px 5px 5px ;
    color:rgb(255, 255, 255);
    margin-top: 50px;
}

.btn:hover {
    background-color: rgb(255, 255, 255);
    transition: 1500ms;
    color:rgb(0, 0, 0);
        display: center;
        margin-left: 500px;
        margin-right: 500px;

}

